@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.error {
    border: 1px solid rgba(255, 0, 0, 0.966) !important;
    box-shadow: 0 0 1px 3px rgba(253, 2, 2, 0.534) !important;
}

.row-relative {
    position: relative;
}

.span-error {
    position: absolute;
    top: 106%;
    left: 2%;
    font-size: 0.8rem;
    color: red;
    line-height: 0.95;
    padding-top: 0.05rem;
}

.ocultar {
    display: none;
}