.col-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 49%;
    flex: 1 1 49%;
}

.a_personal {
    text-decoration: none;
}

.a_personal:hover {
    font-weight: 500;
    cursor: pointer;
}

.row-relative {
    position: relative;
}

#id-icono-password {
    position: absolute;
    top: 75%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}